/* Sylvie Langhout
* 10792368
* project.css
* Style for the layout of the entire website
*/

body {
    font-family: sans-serif;
    background: url(../../doc/light_grey.png) repeat 0 0;
}

.jumbotron {
    height: 200px;
    font-family: sans-serif;

}

h5 {
	font-style: italic; 
}